<html>

<head>
    <title>XInput Form</title>
</head>

<body>
    <form action="<%=action %>" method=" post">
        <label for="plength">Name: </label>
        <input type="text" name="name" value="" />
        <br /><br />
        <label for="itemCount">Number of items: </label>
        <input type="number" name="number_of_items" value="0" />
        <br /><br />
        <button type="button">Submit</button>
    </form>
</body>

</html>